 body{
             min-height: 500px;
             height:auto;
			background-color: #9F9D96;
			background-repeat: no-repeat;
			background-size: cover;
			background: url("homebg.jpg");
		}
		.left{
		  float:left;
		 width: 60%;
		}
		.right{
		  float:right;
		width:40%;
		}
        h1 {
          color: #2E2C2C;
          font-size: 100px;
           }
         .survey{
            position:fixed;
          float: left;
          bottom:0;
          left:500px;
          background-color: #9F9D96;
          padding: 5px;
          border-radius: 5px;
          color: black;

         }

         a{
         position:fixed;
          float: left;
          bottom1000;
          left:1000px;
          background-color: #9F9D96;
          padding: 5px;
          border-radius: 5px;
          color: black;
         }
         #text{
          color: pink;
          font-size: 50px;
         }
         #login{
          position:fixed;
          float: left;
          top:0;
          right:100px;
          background-color: #9F9D96;
          padding: 5px;
          border-radius: 5px;
          color: black;

         }
         #register{
         position:fixed;
          float: left;
          top:0;
          right:200px;
          background-color: #9F9D96;
          padding: 5px;
          border-radius: 5px;
          color: black;
         }

         .container{
         padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;

        }

        .carousel slide{
        height:100px;
        width:300px;
        }
