
 body{
            min-height:auto;

<<<<<<< HEAD
         margin-left: 20px;
         margin-right: 20px;

=======

         margin-left: 20px;
         margin-right: 20px;


>>>>>>> 746b074d67e62c326bcbbe5574b9df28ab5066e9
			background-color: #FDF9F1;
			background-repeat: no-repeat;

		}


 footer{
        position:absolute;
        bottom:0;
        text-align:center;
        width:100%;
        }

        #title{
        display: flex !important;
        align-items: center !important;
        color: #FDF9F1;
          font-size:30px;
          font-family: "Verdana";
        }

 .restaurant_image{
    position:absolute;
    left:55%;
 }

     p{
                color: #597157;
              font-size: 75px;
              font-family: "Garamond", serif;
     }

