 body{
            min-height:auto;
<<<<<<< HEAD
=======

>>>>>>> 746b074d67e62c326bcbbe5574b9df28ab5066e9
            margin-left: 40px;
            margin-right: 40px;

			background-color: #FDF9F1;
			background-repeat: no-repeat;

		}



         #index{
         color:#88a5a0;
          font-size: 90px;
          font-family: "Garamond", serif;
         }



        .form{
        position:relative;
          background-color: #BCB7AB;
          padding: 10px;
          border-radius: 5px;
          width: 300px;

          min-height:200px;
          height:auto;
          text-align: center;
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: center;

        }
        .form_restaurant{
          position: relative;
          background-color: #ccc;
          padding: 10px;
          border-radius: 5px;
          min-height: 200px;
          height: auto;
          text-align: center;
          margin: 0 auto;
          display: inline-block;
          justify-content: center;
          align-items: center;

        }
        .blank{
        height:100px;
        }

        #button{

          position:absolute;


          left:675px;
          background-color: #BCB7AB
          padding: 10px;
          border-radius: 5px;
          color: black;
        }


         .top{
         position:absolute;
          float: left;
          top:0;
          right:100px;
          background-color: #BCB7AB;
          padding: 5px;
          border-radius: 5px;
          color: black;
         }
        footer{
        text-align:center;
        }
        #title{
        display: flex !important;
        align-items: center !important;
        color:#88a5a0;
          font-size:30px;
        }
        #search{
        height:30px;
        display: flex !important;
        align-items: center !important;
        position:absolute;
        left: 40%;


        }
