{% extends 'survey_server/base.html' %}
{% load static %}
{% block title_block %}
Survey Server · About us

{% endblock %}
{% block hello_block %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
</br>
{% endblock %}

{% block left_content %}


<h1> About Us</h1>

<div class="about">
    <p style="">
        Survey Server is a new web app designed to provide a platform for industries to collect valuable analytics from their customers using a pre-designed survey covering crucial areas of their industry.
    </p>
    <p style="">
        Its first survey is for the restaurant industry, which allows restaurants to customize the survey with their logo and name. Customers can then participate in the survey and receive a voucher as an incentive.
    </p>
    <p style="">
        The survey will cover food quality, customer service, hygiene, value for money, and menu variety, and analytics will be totalled for each restaurant. Restaurant owners can log in to see their analytics and the total number of survey participants.
    </p>
</div>

{% endblock %}


{% block picture_block %}
<div class="card" style="position:relative; z-index: -1;width:400px;top:100px;">
    <img class="card-img-top" src="{% static 'images/pic1.jpg' %}" alt="user image" style="width:100%">
    
<!--some image here?-->

</div>

{% endblock %}