<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>{% block title_block %}{% endblock %}</title>
    {% endblock %}
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>


    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
<div class="px-3 py-2 bg-secondary text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand" id="title" href="{% url 'survey_server:index' %}" style="color:#88a5a0; font-size:30px;">Survey server</a>
            <form class="d-flex" id="search" role="search" style="height:30px;position:absolute;left: 40%;">
                     <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                     <button class="btn btn-outline-success" type="submit" style="font-size:20px;color:#2b4017;">Search</button>
            </form>
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">

              {% block dashboard_block %}

            <li>
                {% if user.user_type == 2 %}
              <a href="{% url 'survey_server:customer' %}" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="{% url 'survey_server:customer' %}"/></svg>
                Dashboard
              </a>
                 {% else %}
                 <a href="{% url 'survey_server:customer' %}" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="{% url 'survey_server:customer' %}"/></svg>
                Dashboard
              </a>
                {% endif %}
            </li>


              {% endblock %}

              <li>
              <a href="/survey_server/about/" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="/survey_server/about/"/></svg>
                About
              </a>
            </li>

            <li>
              <a href="{% url 'survey_server:index' %}" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="{% url 'survey_server:index' %}"/></svg>
                Home
              </a>
            </li>

              <li>
              <a href="{% url 'survey_server:logout' %}" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="{% url 'survey_server:logout' %}"/></svg>
                Log out
              </a>
            </li>
               {% block extra_top_block %}
              {% endblock %}



          </ul>
        </div>
      </div>
    </div>

<div class="text&picture">
    <div class="top_text">
<div id="hello">
    Hello
    {% block hello_block %}
    {% endblock %}


</div>
         <div id="text_content">
            {% block left_content %}
            {% endblock %}
        </div>
    </div>

<div class="picture">

<div class="container mt-3">
  <h2>profile image</h2>
    {% block picture_block %}

  <div class="card" style="width:400px">
    <img class="card-img-top" src="{% static "images/home.png" %}" alt="user image" style="width:100%">
    <div class="card-body">

      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>

    {% endblock %}

</div>


</div>

<!--text1 holes the text at the left side-->
<div id="text1">
    {% block body_block %}
<!--    put chart or text in this block,which should be at the left-->
    {% endblock %}
</div>


</div>

<div id="bottom" style="text-align:center">
    {% block bottom_block %}
    {% endblock %}



<footer class="bg-dark text-light">
  <div class="container">


        <h3>Contact us</h3>
        <ul class="list-unstyled">
          <li>Phone: 123-456-7890</li>
          <li>Email: 123@example.com</li>
          <li>Adress: 123 Main St, Glasgow, UK</li>
        </ul>


  </div>
</footer>
</div>
</body>
</html>