<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Survey Server · Home</title>
    <link href="{% static 'bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js' %}"></script>
   <link rel="stylesheet" href="{% static 'css/index1.css' %}">


   <link rel="stylesheet" href="{% static 'css/index1.css' %}">




</head>
<body >



<div class="px-3 py-2 bg-secondary text-white"style="position:fixed;z-index:999;top:0px;width:100%;padding: 0px;right:0px;" >


      <div class="container" style="">

        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
             <a class="navbar-brand" id="title" href="{% url 'survey_server:index' %}" style="color:#88a5a0; font-size:30px;">Survey server</a>
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>

          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">


              {% block profile_block %}

            <li>
              <a href="{% url 'survey_server:profile' %}" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="{% url 'survey_server:profile' %}"/></svg>
                Profile
              </a>
            </li>
              {% endblock %}

              <li>
              <a href="/survey_server/about/" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="/survey_server/about/"/></svg>
                About
              </a>
            </li>



              <li>
                {% if request.user.is_authenticated %}
              <a href="{% url 'survey_server:logout' %}" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="{% url 'survey_server:logout' %}"/></svg>
                Log out
              </a>

                  <li class=" dropdown text-white" style=" display: flex;align-items: center;"/>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white;position:relative;top:15px;">
            Account
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="{% url 'survey_server:profile' %}">Profile</a></li>

            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'survey_server:logout' %}">Logout</a></li>
          </ul>
        </li>

              {% else %}
              <a href="{% url 'survey_server:logout' %}" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="{% url 'survey_server:login' %}"/></svg>
                Log in
              </a>

            </li>

              <li>
                <a href="{% url 'survey_server:register' %}" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="{% url 'survey_server:login' %}"/></svg>
                Register
                   </a>
              </li>
              {% endif %}

               {% block extra_top_block %}
              {% endblock %}





          </ul>
        </div>
      </div>
    </div>

<div id="context" style=" margin-left: 40px;
  margin-right: 40px; margin-top: 100px">


<div>
    <p id="text">Know what your customers love. <br /></p>


</div>
<div class="survey">
  {% if request.user.is_authenticated %}

  {% else %}
  <button type="button" class="btn btn-dark btn-lg" onclick="select() ">
      <a href="{% url 'survey_server:select' %}" style="color: white;text-decoration: none">Get Started - Log in or Register Now!</a>
  </button>
  {% endif %}
  {% if request.user.is_authenticated %}
      {% if user.user_type == 2 %}
           <button type="button" class="btn btn-primary btn-lg" style="background-color:#653829;">
             <a href="{% url 'survey_server:manager' %}" style="color: white;text-decoration: none">Go to Dashboard</a>
           </button>
      {% else %}
      <button type="button" class="btn btn-dark btn-lg" onclick="select() ">
        <a href="{% url 'survey_server:select' %}" style="color: white;text-decoration: none">Select a Restaurant</a>
    </button>
            <button type="button" class="btn btn-primary btn-lg" style="background-color:#653829; ">
           <a href="{% url 'survey_server:customer' %}" style="color: white;text-decoration: none">Go to Dashboard</a>
            </button>
      {% endif %}
  {% else %}
  {% endif %}
</div>



<div class="restaurant_image" >
<div id="carouselExampleIndicators" class="carousel slide" style="display: flex;position:relative;top:50px;
 right:300px;width:500px;height:auto;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <img src="{% static 'images/pic4.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" >
      <img src="{% static 'images/pic2.jpg' %}" class="d-block w-100" alt="..." >
    </div>
    <div class="carousel-item" >
      <img src="{% static 'images/pic3.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

    </div>

<div id="footer">
<footer class="bg-dark text-light" style="position:absolute;bottom:-200px;left:0px;width:100%;">
  <div class="container">


        <h3>Contact us</h3>
        <ul class="list-unstyled">
          <li>Phone: 123-456-7890</li>
          <li>Email: 123@example.com</li>
          <li>Adress: 123 Main St, Glasgow, UK</li>
        </ul>


  </div>
</footer>

</div>
 <script src="static/js/index.js"></script>

</body>
</html>