{% extends 'survey_server/login&registerBase.html' %}
{% load static %}
{% block title_block %}
login
{% endblock %}
{% block index_block %}
</br>log in
{% endblock %}

{% block form_block %}

<form method="post">
   {% csrf_token %}
   <input type="text" id="username" name="username" placeholder="username" style="height: 30px;"></br>
   <h1></h1>
   <input type="password" id="password" name="password" placeholder="password" style="height: 30px;"></br>
   <h1></h1>
   <button type="submit"> Login </button>

   <button>
       <a href="{% url 'survey_server:register' %}" target="_blank">Go to register</a>
   </button>
</form>


{% endblock %}



<!-- {% block button_block %}-->

<!--    <button type="submit" onclick="register()">Go to register</button>-->

<!--    {% endblock %}-->



