{% extends 'survey_server/base.html' %}
{% load static %}
{% block title_block %}
Manager
{% endblock %}
{% block hello_block %}
Manager</br>
{% endblock %}


{% block left_content %}

<p style="color:#88a5a0; font-size: 45px;"> Your Scoring</p>

<!--put the chart at here-->


{% endblock %}
{% block picture_block %}

</script>
<div class="card" style="width:400px">
    <img class="card-img-top" src="{% static "images/home.jpg" %}" alt="user image" style="width:100%">
    <div class="card-body">

      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
<p>Would you like to know what our users think about your services?</p>

<button type="button" class="btn btn-primary btn-lg"  onclick="window.location.href='/survey_server/add_restaurant'">Add a restaurant</button>


{% endblock %}

