{% extends 'survey_server/base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/manager.css' %}">
{% block title_block %}
Survey Server · Manager
{% endblock %}
{% block hello_block %}
{{request.user}}</br>
{% endblock %}



{% block left_content %}

<p style="color:#88a5a0; font-size: 45px;"> Your Scoring</p>

<!--put the chart at here-->
{% if has_surveys %}
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <canvas id="myChart"  data-food-quality-score="{{ avg_scores.avg_food_quality_score }}"
                            data-customer-service-score="{{ avg_scores.avg_customer_service_score }}"
                            data-hygiene-score="{{ avg_scores.avg_hygiene_score }}"
                            data-value-for-money-score="{{ avg_scores.avg_value_for_money_score }}"
                            data-menu-variety-score="{{ avg_scores.avg_menu_variety_score }}"></canvas>
      <script src="{% static 'js/Chart.js' %}"></script>
      {% else %}
      <p id="no-data">No one has completed your Survey yet-come back soon!</p>
  {% endif %}

{% endblock %}
{% block picture_block %}

<p style="color:#88a5a0; font-size: 45px;">Your Logo</p>
<div class="card" style="width:400px">
  <img class="card-img-top" src="{{my_restaurant.logo.url}}" alt="Please upload your logo in the 'Edit Your Restaurant' section." style="width:100%">
  </div>
  <p style="color:#88a5a0; font-size: 45px;"> Your Restaurant Information</p>
  {% if has_restaurant %}
  <div>
      <div class="container">
    <table class="table table-hover">
      <tbody>
      <tr>
        <td>Name</td>
        <td>{{ restaurant.name }}</td>
      </tr>
      <tr>
        <td>Cuisine</td>
        <td>{{ restaurant.cuisine }}</td>
      </tr>
      <tr>
        <td>About</td>
        <td>{{ restaurant.about }}</td>
      </tr>
      </tbody>
    </table>
  </div>
      </div>
      <div>
              <a href="{% url 'survey_server:edit_restaurant' %}" class="btn btn-lg btn-dark ml-2">Edit Your Restaurant</a>
  
      </div>
      {% else %}
      
      <div>
    <tr>
      <td>No restaurant yet - add one here!</td>
    </tr>
    <button type="button" class="btn btn-dark btn-lg"  onclick="window.location.href='/survey_server/add_restaurant';">Add a restaurant</button>


    </div>

  {% endif %}
{% if has_restaurant %}

<p style="color:#88a5a0; font-size: 45px;"> Your Menu's Top Choices</p>
{% if has_surveys %}
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Course</th>
        <th>Top Meal Choice</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>Starter</td>
      {% if starter_data_exists %}
      <td>{{ top_starter }}</td>
      {% else %}
      <td>No starter data avaiable yet.</td>
      {% endif %}
    </tr>
    <tr>
      <td>Main</td>
      {% if main_data_exists %}
      <td>{{ top_main }}</td>
      {% else %}
      <td>No main data avaiable yet.</td>
      {% endif %}
    </tr>
    <tr>
      <td>Dessert</td>
      {% if dessert_data_exists %}
      <td>{{ top_dessert }}</td>
      {% else %}
      <td>No dessert data avaiable yet.</td>
      {% endif %}
    </tr>
    <tr>
      <td>Drink</td>
      {% if drink_data_exists %}
      <td>{{ top_drink }}</td>
      {% else %}
      <td>No drink data avaiable yet.</td>
      {% endif %}
    </tr>
{% else %}
  <tr>
    <td>No information on dishes yet - come back soon!</td>
  </tr>
{% endif %}
    </tbody>
  </table>
</div>
{% endif %}


{% endblock %}

