{% extends 'survey_server/base.html' %}
{% load static %}
{% block title_block %}
Survey Server · Profile
{% endblock %}
{% block hello_block %}
{{request.user}}</br>
{% endblock %}

{% block left_content %}

<p style="color:#88a5a0; font-size: 45px;"> Profile info here</p>
<div>
    <form method = "post" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <button class="w-10 btn btn-lg btn-dark" type="submit">Save Changes</button>
    </div>
    </form>
</div>


{% endblock %}


{% block picture_block %}
<div class="card" style="width:400px">
    <img class="card-img-top" 
    {% if request.user.user_type == 1 %}
    src="{{ request.user.customer.profile_picture.url }}"
    {% else %}
    src="{{ request.user.manager.profile_picture.url }}"
    {% endif %}
    alt="user image" style="width:100%">
    
<!--some image here?-->

</div>

{% if request.user.user_type == 2 %}
<p style="color:#88a5a0; font-size: 45px;"> Your Restaurant Information</p>
{% if has_restaurant %}
<div>
    <div class="container">
  <table class="table table-hover">
    <tbody>
    <tr>
      <td>Name</td>
      <td>{{ restaurant.name }}</td>
    </tr>
    <tr>
      <td>Cuisine</td>
      <td>{{ restaurant.cuisine }}</td>
    </tr>
    <tr>
      <td>About</td>
      <td>{{ restaurant.about }}</td>
    </tr>
    </tbody>
  </table>
</div>
    </div>
    <div>
            <a href="{% url 'survey_server:edit_restaurant' %}" class="btn btn-lg btn-dark ml-2">Edit Your Restaurant</a>

    </div>
    {% else %}
    <td>No restaurant yet - add one here!</td>
    <div style="margin-top: 50px;">
  <tr>
  </tr>
  </div>
  <button type="button" class="btn btn-dark btn-lg"  onclick="window.location.href='/survey_server/add_restaurant'">Add a restaurant</button>
{% endif %}
    {% endif %}
{% endblock %}
