{% extends 'survey_server/questionBase.html' %}
{% load static %}
{% block title_block %}
question2
{% endblock %}
{% block index_block %}
2</br>
{% endblock %}
{% block question_block %}
<p>Roughly how Long did it take for your starter to come once you had placed the order?</p>

{% endblock %}

{% block choices_block %}
<form method="post" action="{% url 'survey_server:question5' %}">
        {% csrf_token %}
    <div>
        <input type="radio" id="variety-starter-excellent" name="starter - variety" value="fast">
        <label for="Excellent">7-11 minutes or less</label><br>
        <input type="radio" id="variety-starter-okay" name="starter - variety" value="normal">
        <label for="okay">11-16 minutes</label><br>
        <input type="radio" id="variety-starter-okay" name="starter - variety" value="slow">
        <label for="limited">17 minutes or more</label><br>
    </div>
{% endblock %}
