{% extends 'survey_server/questionBase.html' %}
{% load static %}
{% block title_block %}
question2
{% endblock %}
{% block index_block %}
5</br>
{% endblock %}
{% block question_block %}
  <p>How did you find the variety of the starters menu?</p>

{% endblock %}

{% block choices_block %}
<form method="post" action="{% url 'survey_server:index' %}">
        {% csrf_token %}
         <div>
            <input type="radio" id="variety-starter-excellent" name="starter - variety" value="Excellent">
            <label for="Excellent">Excellent! it was tough to make my decision</label><br>
            <input type="radio" id="variety-starter-okay" name="starter - variety" value="Okay">
            <label for="okay">There was at least one think I would choose</label><br>
            <input type="radio" id="variety-starter-okay" name="starter - variety" value="limited">
            <label for="limited">The options were so limited there was nothing I really wanted</label><br>
            <input type="radio" id="variety-starter-okay" name="starter - variety" value="allergies">
            <label for="allergies">There was nothing I could on this section of the menu due to my allergies</label><br>
        </div>
{% endblock %}
