<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Question 2 - Survey Server</title>
</head>
<body>
    <h1>Question 2</h1>
    <div>
        <p>Roughly how Long did it take for your starter to come once you had placed the order?</p>
    </div>
    <div>
        <input type="radio" id="variety-starter-excellent" name="starter - variety" value="fast">
        <label for="Excellent">7-11 minutes or less</label><br>
        <input type="radio" id="variety-starter-okay" name="starter - variety" value="normal">
        <label for="okay">11-16 minutes</label><br>
        <input type="radio" id="variety-starter-okay" name="starter - variety" value="slow">
        <label for="limited">17 minutes or more</label><br>
    </div>
    <button type="submit" style="color: black;">Next</button>
</body>
</html>
