{% extends "survey_server/base.html" %}

{% block title_block %}
    Question 1 - Survey Server
{% endblock %}

{% block body_block %}
    <div style="background-color: #33665d; font-size: 24px;">
        <h1>Question 1</h1>
        <div>
            <p>Did you order a starter?</p>
        </div>
        <div>
            <input type="radio" id="starter-yes" name="color" value="yes">
            <label for="color-red">Yes</label><br>
            <input type="radio" id="starter-no" name="color" value="no">
            <label for="color-blue">No</label><br>
        </div>
    </div>
{% endblock %}