{% extends 'survey_server/login&registerBase.html' %}
{% load static %}
{% block title_block %}
register
{% endblock %}
{% block index_block %}
</br>register
{% endblock %}

{% block form_block %}
<form method="post" action="{% url 'survey_server:register' %}">
   {% csrf_token %}
   {{ form.as_p }}
      <!-- <input type="text" id="username" name="username" placeholder="username" style="height: 20px;"></br>
      <input type="email" id="email" name="email" placeholder="email" style="height: 20px;"></br>
      <input type="password" id="password1" name="password1" placeholder="enter password" style="height: 20px;"></br>
      <input type="password" id="password2" name="password2" placeholder="re-enter password" style="height: 20px;"></br> -->
      <button type="submit" class="btn btn-success"> Register </button>

    </form>
{% endblock %}

 {% block button_block %}

    <button  id="login" onclick="login()">Go to login</button>


    {% endblock %}



