{% extends 'survey_server/base.html' %}
{% load static %}
{% block title_block %}
Select restaurant
{% endblock %}
{% block hello_block %}
{{ request.user.username }}</br>
{% endblock %}
{% block body_block %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
       <button type="submit" class="btn btn-primary btn-lg">
        <a {% if form.restaurant.value %}onclick="href='{% url 'survey_server:survey' restaurant_slug=restaurant page_id=1 %}'"{% endif %} style="color:white;">Select restaurant</a>
       </button>
     </form>


{% endblock %}

{% block picture_block %}

<!-- profile picture here - get profile picture uploaded by user, not a static image -->


<div class="card" style="width:400px">
  <img class="card-img-top" src="{% static "images/home.png" %}" alt="user image" style="width:100%">
  <div class="card-body">

    <a href="#" class="btn btn-primary">See Profile</a>
  </div>
</div>

  {% endblock %}


