{% extends 'survey_server/base.html' %}
{% load static %}
{% block title_block %}
Survey Server · Survey
{% endblock %}
{% block hello_block %}
{{request.user}}</br>
{% endblock %}

{% block profile_name %}
<h2>{{ restaurant }}</h2>
{% endblock %}

{% block left_content %}
<h1>Page {{ page_id }}: Your experience at {{ restaurant }}</h1>
<form method="post" style="margin: 10px;padding: 20px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" style="color: black;">Next</button>
 </form>

{% endblock %}


<!--the bottom_block holding the page number -->
 {% block bottom_block %}


        <nav style="height:100px;position:absolute;bottom:-300px;width:100%;">

</nav>

    {% endblock %}
{% block picture_block %}
<div class="card" style="width:400px">
<!--    put restuarant logo at here-->
    <img class="card-img-top" src="{{ restaurant_instance.logo.url }}" alt="user image" style="width:100%">
    <div class="card-body">
  <h2>About {{restaurant}}</h2>
      <p>{{ about }}</p>
  
      </div>
    </div>
  
  </div>

{% endblock %}

