{% extends 'survey_server/base.html' %}
{% load static %}
{% block title_block %}
Survey Server · index

{% endblock %}

{% block left_content %}
 <p id="text">Know what your customers love. <br /></p>
 <button type="button" class="btn btn-primary btn-lg" onclick="select() ">
      <a href="{% url 'survey_server:select' %}" style="color: white;text-decoration: none">Select a restaurant</a>
  </button>
  {% if request.user.is_authenticated %}
      {% if user.user_type == 2 %}
           <button type="submit" class="btn btn-success" style="background-color:#653829;">
             <a href="{% url 'survey_server:manager' %}" style="color: white;text-decoration: none">go to dashboard</a>
           </button>
      {% else %}
            <button type="button" class="btn btn-primary btn-lg" style="background-color:#653829; ">
           <a href="{% url 'survey_server:customer' %}" style="color: white;text-decoration: none">go to dashboard</a>
            </button>
      {% endif %}
  {% else %}
  {% endif %}
{% endblock %}